/*
 * Copyright (c)  2025 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	gpios_debug {
		compatible = "gpio-leds";
		gpio1: gpio1 {
			label = "GPIO 1";
			gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
		};
		gpio2: gpio2 {
			label = "GPIO 2";
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
		};
		gpio3: gpio3 {
			label = "GPIO 3";
			gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
		};
		gpio4: gpio4 {
			label = "GPIO 4";
			gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
		};
		gpio5: gpio5 {
			label = "GPIO 5";
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
		};
		gpio6: gpio6 {
			label = "GPIO 6";
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		};
		gpio7: gpio7 {
			label = "GPIO 7";
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		};
		gpio8: gpio8 {
			label = "GPIO 8";
			gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
		};
		gpio9: gpio9 {
			label = "GPIO 9";
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
		};
		gpio10: gpio10 {
			label = "GPIO 10";
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
		};
		gpio11: gpio11 {
			label = "GPIO 11";
			gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
		};
		gpio12: gpio12 {
			label = "GPIO 12";
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
		};
		gpio13: gpio13 {
			label = "GPIO 13";
			gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
		};
		gpio14: gpio14 {
			label = "GPIO 14";
			gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
		};
		gpio15: gpio15 {
			label = "GPIO 15";
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
		};
		gpio16: gpio16 {
			label = "GPIO 16";
			gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		debug1 = &gpio1;
		debug2 = &gpio2;
		debug3 = &gpio3;
		debug4 = &gpio4;
		debug5 = &gpio5;
		debug6 = &gpio6;
		debug7 = &gpio7;
		debug8 = &gpio8;
		debug9 = &gpio9;
		debug10 = &gpio10;
		debug11 = &gpio11;
		debug12 = &gpio12;
		debug13 = &gpio13;
		debug14 = &gpio14;
		debug15 = &gpio15;
		debug16 = &gpio16;
	};
};
